
html{overflow:auto ;}
body {
    overflow: auto;
    height: auto;
	margin: 0px;
    background-color: whitesmoke;}

/*                      Nagłówek                    */

#header {
    top: 0px;
    width: 5000px;
    height: 90px;
    position: fixed;
    background-color: black;
    border-bottom: 2px solid cornflowerblue;
}

.picture{
    margin: 16px;
    float: left;
    width: 82px;
    transform: rotate(45deg);
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    font-style: normal;
    color: whitesmoke;
    padding: 30px;
    margin-left: 120px;
    margin-top: 0px;
    
}


/*                  CZESC II                    */
form.main2{
    margin: auto;
    height: auto; /*531px;*/
    width: 354px;/*354px;*/
    background-color: whitesmoke;
    padding: 5px;
}
.info_Nr1, .info_Nr2{
    background-color: black;
    border: 12px 12px 12px 12px;
    border-color: white;
    border-style: double;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 15px;
}

h3 {
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: auto;
    margin: 0px;
    letter-spacing: 0.09em;
}

/*                      BLOKI                   */

form.head_Sqares {
    margin: auto;
    height: 531px; /*531px;*/
    width: 354px;/*354px;*/
    background-color: whitesmoke;
    padding: 5px;
}

.sqares_Left{
    text-decoration: none;
    border-radius: 15px;
    width: 172px;
    height: 172px;
    background-color: black;
    color: white;
    overflow: auto;
    float: left;
    margin-top: 3px;
    
}
.first_Choice{color: cornflowerblue;}
.sqares_Right{
    text-decoration: none;
    border-radius: 15px;
    width: 172px;
    height: 172px;
    background-color: black;
    color: white;
    margin-top: 3px;
    overflow: auto;
    float: right ;
    clear: right;
}
p {
    text-decoration: none;
    padding-top: 55px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    letter-spacing: 0.10em;
    margin:0px;
}
p.p1_Shadow{padding: 21px; color: rgb(70, 66, 66); 
text-decoration: none;}
p.p1{
    text-decoration: none;
    padding: 21px;
    color: cornflowerblue;
}
#bigger {
    padding: 0px 0px;
}
.info_Nr2 {margin-top: 10px;}

.n1,.n2,.n3,.n4,.n5,.n6,.n7,.n8,.n9,.n10,.n11,.n12,.n13,.n14,.n15,.n16,.n17,.n18,.n19,.n20,.n21,.n22,.n23,.n24,.n25{
    border-radius: 15px;
    border: 2px solid whitesmoke;
    clear: both;
}
div.n1 {
    
    background-color: hsl(0, 0%, 90%);
}
.n2{
    background-color: hsl(0,0%,87%);
}
.n3{
    background-color: hsl(0, 0%, 84%);
}
.n4{
    background-color: hsl(0, 0%, 81%);
}
.n5{
    background-color: hsl(0, 0%, 78%);
}
.n6{
    background-color: hsl(0, 0%, 75%);
}
.n7{
    background-color: hsl(0, 0%, 72%);
}
.n8{
    background-color: hsl(0, 0%, 69%);
}
.n9{
    background-color: hsl(0, 0%, 66%);
}
.n10{
    background-color: hsl(0, 0%, 63%);
}
.n11{
    background-color: hsl(0, 0%, 60%);
}
.n12{
    background-color: hsl(0, 0%, 57%);
}
.n13{
    background-color: hsl(0, 0%, 54%);
}
.n14{
    background-color: hsl(0, 0%, 51%);
}
.n15{
    background-color: hsl(0, 0%, 48%);
}
.n16{
    background-color: hsl(0, 0%, 45%);
}
.n17{
    background-color: hsl(0, 0%, 42%);
}
.n18{
    background-color: hsl(0, 0%, 39%);
}
.n19{
    background-color: hsl(0, 0%, 36%);
}
.n20{
    background-color: hsl(0, 0%, 33%);
}
.n21{
    background-color: hsl(0, 0%, 30%);
}
.n22{
    background-color: hsl(0, 0%, 27%);
}
.n23{
    background-color: hsl(0, 0%, 24%);
}
.n24{
    background-color: hsl(0, 0%, 21%);
}
.n25{
    background-color: hsl(0, 0%, 18%);
}



/*                  PRAWA AUTORSKIE             */
.a_Bottom {
    text-decoration: none;
    color: white;
    text-decoration-line: underline;
}
.bottom {
    padding: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
}
/**************************************************************************************/

div.header_Undersite {
    top: 0px;
    width: 5000px;
    height: 90px;
    position: fixed;
    background-color: black;
    border-bottom: 2px solid cornflowerblue;
}
a.m1:visited{
    color: cornflowerblue;
}
a {
    
    text-decoration: whitesmoke;

}
a:visited{
    color: whitesmoke;
}
a:hover{
    text-decoration: none;
}
td{
    font-size: large;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: red;
    border: 2px solid blue;
}
form.form_Undersite{
    text-overflow: clip;
    background-color: grey;
}
.name{background-color: green;}
html{
    overflow-x: auto;
}